<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ChatAppSignalR.Web</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="bg-light">
    @{
        var sweetAlertMessage = TempData["sweetAlertMessage"] as string;
        var sweetAlertIcon = TempData["sweetAlertIcon"] as string;
    }

    @RenderBody()

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function sweetAlert(iconMessage,aleartMessage){
            const Toast = Swal.mixin({
                toast: true,
                position: "top",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: iconMessage,
                title: aleartMessage
            });
        }


         

    </script>

    <script>
        @if (!string.IsNullOrEmpty(sweetAlertMessage) && !string.IsNullOrEmpty(sweetAlertIcon))
        {
            <text>
                        sweetAlert("@sweetAlertIcon", "@sweetAlertMessage");
            </text>
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
